<nav class="right search-bar">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required placeholder="i.e. Cal State Long Beach">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<div class="right" id="home-title">
  <p>
    Because knowledge is power<br><br>
    ...and we could use a little<br>light in here.
  </p>
</div>

<!-- <h4 ng-hide="navCtrl.isLoggedIn()" class="center-align">Log In or Sign Up</h4>
 -->
