<div class="row right">
  <div id="home-title">
    <p>
      Because knowledge is power<br><br>
      ...and we could use a little<br>light in here.
    </p>
  </div>

  <div>
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Select State</a>
  </div>

  <ul id='dropdown1' class='dropdown-content'>
    <li ng-repeat="state in homeCtrl.stateList"><a href="#!" ng-click="homeCtrl.stateSelected(state)">{{state}}</a></li>
  </ul>
</div>

<script>
 $('.dropdown-button').dropdown({});
</script>
