<h2 class="center">You searched: {{schoolsOnlyByNameCtrl.name}}</h2>
<h5 class="center">(Total Results: {{schoolsOnlyByNameCtrl.totalSchools}})</h5>

<ul ng-repeat="school in schoolsOnlyByNameCtrl.schools | filter:vm.search | orderBy: '\'school.name\'' ">
  <li class="school-title-link" ng-click="schoolsOnlyByNameCtrl.selectSchool(school)">{{school['school.name']}}</li>
</ul>

<div class="center" ng-show="schoolsOnlyByNameCtrl.schools.length === 0">
  Oops! Looks like something went wrong with your search.
</div>
