<!-- <h1>Schools in {{schoolsByStateCtrl.state}}</h1> -->
<h1>Total Results in {{schoolsByNameCtrl.state}}: {{schoolsByNameCtrl.schools.length}}</h1>
<!-- Schools By Name in {{schoolsByNameCtrl.state}} -->

  <div ng-hide="schoolsByNameCtrl.schools.length < 20" class="nav-wrapper">
    <form ng-submit="schoolsByNameCtrl.searchByName(vm.name)">
      <div class="input-field">
        <input id="search" type="search" ng-model="vm.name" required placeholder="Narrow down your search for schools in {{schoolsByNameCtrl.state}}">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      </div>
    </form>
  </div>

<ul ng-repeat="school in schoolsByNameCtrl.schools | filter:vm.search | orderBy: '\'school.name\'' ">
  <li class="school-title-link" ng-click="schoolsByNameCtrl.selectSchool(school)">{{school['school.name']}}</li>
</ul>

<div class="center" ng-show="schoolsByNameCtrl.schools.length === 0">
  Oops! Looks like something went wrong with your search.
</div>


<!-- <ul ng-show="schoolsByNameCtrl.moreThanOne()" class="pagination center">
  <li ng-repeat="page in schoolsByNameCtrl.pages"><a href="#!" ng-click="schoolsByNameCtrl.selectPage(page)" class="waves-effect">{{$index + 1}}</a></li>
  <li ng-click="schoolsByNameCtrl.nextPage()" class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul> -->
