<h1>Total Results in {{schoolsByNameCtrl.state}}: {{schoolsByNameCtrl.schools.length}}</h1>

  <div ng-hide="schoolsByNameCtrl.schools.length < 20" class="nav-wrapper">
    <form ng-submit="schoolsByNameCtrl.searchByName(vm.name)">
      <div class="input-field">
        <input id="search" type="search" ng-model="vm.name" required placeholder="Narrow down your search for schools in {{schoolsByNameCtrl.state}}">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      </div>
    </form>
  </div>

<ul ng-repeat="school in schoolsByNameCtrl.schools | filter:vm.search | orderBy: '\'school.name\'' ">
  <li class="school-title-link" ng-click="schoolsByNameCtrl.selectSchool(school)">{{school['school.name']}}</li>
</ul>

<div class="center" ng-show="schoolsByNameCtrl.schools.length === 0">
  Oops! Looks like something went wrong with your search.
</div>
