[ui-view].ng-enter {
  transition: opacity 0.8s;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.redhead {
  background-color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  /*font-family: 'Poiret One', cursive;*/
}

body {
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-weight: 400;
}

#home-title {
  font-size: 30px;
  margin-top: 30px;
  color: black;
}

nav.search-bar {
  background-color: lightgrey;
}

#Accepted {
  background-color: green;
}

#Rejected {
  background-color: #CA3D2E;
}

#Interview {
  background-color: blue;
}

#Waitlisted {
  background-color: yellow;
}

#detail-heart {
  font-size: 30px;
}

.material-icons:hover {
cursor: pointer;
}

.school-title-link {
  cursor: pointer;
}

#fav-cards {
 font-size: 16px;
 line-height: 25px;
}

#fav-cards:hover {
 cursor: pointer;
}

span.title.my-posts {
  color: #039be5;
}

span.title:hover {
  cursor: pointer;
}

.navbar-search {
  width: 500px;
  margin-left: 200px;
  /*background-color: white;*/
  box-shadow: none;
  display: inline-block;
  box-sizing: none;
}

a.brand-logo {
  margin-left: 15px;
  /*font-size: 45px;*/
}

.chip.posts {
  background-color: white;
  border: 1px solid black;
}

#notification-bubble {
  background: #fd9a00;
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
  content: "";
  margin-left: 85px;
  margin-top: 10px;
  z-index: 1;
  position: absolute;
}

#my-schools-link {
  z-index: 0;
  /*position: absolute;*/
}

.dropdown-button.btn {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

@media screen and (max-width: 600px) {
  .dropdown-button.btn {
    background-color: white;
  }

  a.brand-logo {
    font-size: 40px;
  }

}

@media only screen and (max-width: 992px) and (min-width: 600px) {
  nav .brand-logo {
    left: 50px;
  }
}

.dropdown-content li>a, li>span {
  color: black;
}

input.right.btn {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

/*#menu-icon {
  color: rgba(0,0,0,0.87);
}*/
