[ui-view].ng-enter {
  transition: opacity 0.8s;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.redhead {
  box-shadow: none;
  background-color: transparent;
  font-family: 'Poiret One', cursive;
  /*font-family: 'Bubbler One', sans-serif;*/
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

#home-title {
  font-size: 30px;
  margin-top: 30px;
  color: white;
}

nav.search-bar {
  background-color: lightgrey;
}

#Accepted {
  background-color: green;
}

#Rejected {
  background-color: red;
}

#Interview {
  background-color: blue;
}

#Waitlisted {
  background-color: yellow;
}

#detail-heart {
  font-size: 35px;
}

.material-icons:hover {
cursor: pointer;
}

.school-title-link {
  cursor: pointer;
}
